{% extends "layout.html" %}

{% block content %}



<div class="container">
    

    <div class="hero">
        <h2>Welcome to movie recommendation</h2>
        <h2>This week</h2>
    </div>

    <div class="cards">

        <div class="card">
            <h3>Movie</h3>
            <p class="values">{{recently['title']}}</p>
        </div>

        <div class="card">
            <h3>Genres</h3>
            <p class="values">{{recently['genres']}}</p>
        </div>

        <div class="card">
            <h3>Rating</h3>
            <p class="values">{{recently['rating']}}</p>
        </div>

    </div>

</div>
        
{% endblock %}