<nav class="navbar">

    <a href="{{url_for('home')}}" class="logo">
        <img src="{{url_for('static', filename='assets/BingeBuddyLogo.png')}}" alt="logo">
    </a>        
        
    <div class="nav-links">
        
        <a href="{{url_for('sökmotor')}}">Search Movie</a>
        <a href="{{url_for('recomendation')}}">Recommendation</a>
        <a href="{{url_for('about')}}">About</a>

        {% if username %}
            <a href="{{url_for('profile')}}">{{ username }}</a>
            <a href="{{url_for('logout')}}">Logout</a>
        {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}">Register</a>
        {% endif %}

    </div>

</nav>