{% extends "layout.html" %}

{% block content %}



<div class="container">
    
    <div class="hero">
        <h1>Recommender</h1>
        <p>
            Discover movies based on your favorite films and genres.
        </p>
        
        <form method="POST" class="recommend-form">
            <!-- Möjliggör att skriva in en titel och få förslag som auto complete -->
            <!-- name="movie_title" kopplar till flasks request.form.get -->
            <!-- list="movies" betyder att input-fältet använder en datalist som heter movies (se längre ner) -->
            <!-- och movies kommer från flask, men från början från (df["title"].tolist()) -->
            <input type="text" name="movie_title" list="movies" placeholder="Enter movie title">

            
            <!-- datalist fylls med samtliga titlar från jinja/flask, innehållande de tecken användaren skriver -->
            <datalist id="movies">
                {% for movie in movies %}
                    <!-- fyller automatiskt i input-fältet när option väljs -->
                    <option value="{{ movie }}"></option>
                {% endfor %}
            </datalist>

            <button type="submit">Recommend</button>
        </form>

       
        {% if not recommendations %}

        <table class="movie-table">
            <thead>
                <tr>
                    <th>Recommended movies</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(5) %}
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}

        
        {% if recommendations %}
            <table class="movie-table">
                <thead>
                    <tr>
                        <th>Recommended movies</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in recommendations %}
                        <tr>
                            <td>{{ movie['title'] }}</td>
                            <td>{{ movie['rating'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
    </div>
    
</div>
    
{% endblock %}